<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <application>
        <meta-data
            android:name="ANALYTICS_CHANNEL"
            android:value="GP" />
        <meta-data
            android:name="inAppProducts"
            android:value="character_gift_1,character_gift_2" />
        <meta-data
            android:name="autoConsumeProducts"
            android:value="character_gift_1,character_gift_2" />
    </application>
    <uses-permission android:name="com.android.vending.BILLING" />
</manifest>