<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="FLURRY_API_KEY"
            android:value="FLURRY_API_KEY" />

    </application>
    <!--    Apps that target Android 13 (API Level 33) or higher should declare:-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <!--    in the app manifest to access Google Play Services Advertising ID.-->
</manifest>